$padding: 25px;

$font-family: Roboto, sans-serif;
$font-family-heading: 'Fredoka One', sans-serif;


$pure-white: #fff;
$pure-black: #000;

$curious-blue: #2793e6;
$pickled-bluewood: #35495E;
$sunglow: #e46663;
$dodger-blue: #0ebeff;
$bright-sun: #ffdd40;
$emerald: #47cf73;
$medium-purple: #ae63e4;
$youtube: #CD201F;
$patreon: #F96854;
$instagram: #E4405F;
$twitter: #1DA1F2;
