$padding: 25px;
$site-constraint: 1200px;

$font-family: 'Poppins', sans-serif;
$font-family-heading: 'Fredoka One', sans-serif;

$pure-white: #fff;
$pure-black: #000;
$curious-blue: #3489d2;
$dark-blue: #174269;

$sunglow: #e46663;
$dodger-blue: #0ebeff;
$bright-sun: #ffdd40;
$spring-rain: #98cba0;
$medium-purple: #ae63e4;

$youtube: #cd201f;
$patreon: #f96854;
$instagram: #e4405f;
$twitter: #1da1f2;
$twitch: #6441a4;

$color-copy: #222;
